

main.container{
    border: 3px solid black;

}
.pg-title{
    margin: 30px 0px;
    text-align: center;
    font-size: 1.5em;
    font-family: system-ui;

}
section{
    margin: 0 20px;

}
.form-item{
    margin-bottom: 10px;
}
 label{
    width: 150px;
    display: inline-block;
    font-family: -webkit-pictograph;
    font-weight: 600;
}
input{
    border: 1px solid #d0d0d0;
    padding: 8px 6px;
    border-radius: 3px;
    min-width: 250px;

}

.form-item.form-btns{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.form-btn{
    padding: 12px 15px;
    color: white;
    width: 100px;
    border-color: #dcdcdc;
}
.from-btn-submit{
    width: 100px;
    background-color: #4db051;
    
    
  
}
.from-btn-reset{
    background-color: #ed611c;

}
p{
    text-align: right;

}

/* gridview .html */

.grid-section{
    margin:0px;
}

.grid-header{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    font-size: .6em;
}
.grid-row{
    display: flex;
    justify-content: space-evenly;
    background-color: #efd4bb;
    color: black;
    height: 10rem;

}

.grid-header .grid-item{
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-grow: 1;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    text-align: center;
    padding: 4px 0;

    
}
.item-picture{
    flex-basis: 30%;
   
}
.item-action{
    flex-basis: 20%;

}

.item-rating{
    flex-basis: 1%;

}
.item-address{
    flex-basis: 10%;

}
.item-name{
    flex-basis: 15%;
    

}
.grid-row .grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 10px 0;
    border-right: 1.2px solid white;
    border-bottom: 1.2px solid white;
    font-size: .7em;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.grid-row .item-picture{
    display: flex;
    justify-content: center;
  
}
.grid-row .item-picture > img{

    width: 50%;
    height: 100%;
    object-fit: cover;
}
.action-btns{
    
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 10px;
    gap: 10px;
    

}
.action-btn{
    text-transform: uppercase;
    font-size: .7em;
    color: white;
    padding: 8px 16px;
    border-color: #dcdcdc;
}
.action-btn > a{
    text-decoration: none;
    color: inherit;
}
.btn-delete{
    background-color: red;
    
}
.btn-update{
    background-color: #4db051;
    
}
.btn-create{
    margin-top: 10px;
    background-color: #3300e8;
    text-transform: capitalize;
}